In [8]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# display all outputs in each cell, not just the last one

In [16]:
file_path = "./finance_economics_dataset.csv"

df = pd.read_csv(file_path)
col_description = {
    "Date": "The date of the financial data (YYYY-MM-DD)",
    "Stock Index": "The stock market index (S&P 500, NASDAQ, Dow Jones)",
    "Open Price": "Opening price of the stock market on the given day (USD)",
    "Close Price": "Closing price of the stock market on the given day (USD)",
    "Daily High": "Highest stock price reached during the day (USD)",
    "Daily Low": "Lowest stock price reached during the day (USD)",
    "Trading Volume": "Number of shares traded on that day",
    "GDP Growth": "Percentage change in Gross Domestic Product (GDP) (%)",
    "Inflation Rate": "Percentage change in the Consumer Price Index (CPI) (%)",
    "Unemployment Rate": "Percentage of unemployed individuals in the labor force (%)",
    "Interest Rate": "(%)",
    "Consumer Confidence Index": None,
    "Government Debt (Billion USD)": None,
    "Corporate Profits (Billion USD)": None,
    "Forex USD/EUR": None,
    "Forex USD/JPY": None,
    "Crude Oil Price": "(USD per Barrel)",
    "Gold Price": "(USD per Ounce)",
    "Real Estate Index": None,
    "Retail Sales": "(USD per Ounce)",
    "Bankruptcy Rate": "(%)",
    "Mergers & Acquisitions Deals": None,
    "Venture Capital Funding": "(Billion USD)",
    "Consumer Spending": None
}

df.head()
print(col_description["Date"])
print(col_description["Forex USD/EUR"])

,Date,Stock Index,Open Price,Close Price,Daily High,Daily Low,Trading Volume,GDP Growth (%),Inflation Rate (%),Unemployment Rate (%),...,Forex USD/EUR,Forex USD/JPY,Crude Oil Price (USD per Barrel),Gold Price (USD per Ounce),Real Estate Index,Retail Sales (Billion USD),Bankruptcy Rate (%),Mergers & Acquisitions Deals,Venture Capital Funding (Billion USD),Consumer Spending (Billion USD)
0,2000-01-01,Dow Jones,2128.75,2138.48,2143.70,2100.55,2670411,-0.37,6.06,6.10,...,1.04,119.87,47.20,1052.34,390.23,2229,2.12,3,76.64,4589
1,2000-01-02,S&P 500,2046.82,2036.18,2082.83,2009.53,690220415,3.19,4.95,6.62,...,1.00,98.22,52.84,1957.73,346.23,4156,1.40,21,5.67,10101
2,2000-01-03,Dow Jones,1987.92,1985.26,2022.28,1978.37,315284661,5.54,9.13,2.60,...,0.83,80.13,78.80,2339.49,439.46,340,0.79,48,39.43,13665
3,2000-01-04,Dow Jones,4625.02,4660.47,4665.26,4595.46,13098297,10.00,3.77,2.20,...,0.95,149.15,28.18,1308.54,213.07,8456,4.22,16,12.83,5192
4,2000-01-05,S&P 500,1998.18,1982.18,2044.31,1966.44,385306746,1.53,2.20,8.20,...,1.43,113.71,92.20,2210.08,405.49,1596,2.21,34,86.37,10688

The date of the financial data (YYYY-MM-DD)
None

In [11]:
df.info()
# If the data type of a column is not what you expect it to be, 
# this can often be a signal that the data needs cleaning.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   3000 non-null   object
 1   Stock Index                            3000 non-null   object
 2   Open Price                             3000 non-null   float64
 3   Close Price                            3000 non-null   float64
 4   Daily High                             3000 non-null   float64
 5   Daily Low                              3000 non-null   float64
 6   Trading Volume                         3000 non-null   int64
 7   GDP Growth (%)                         3000 non-null   float64
 8   Inflation Rate (%)                     3000 non-null   float64
 9   Unemployment Rate (%)                  3000 non-null   float64
 10  Interest Rate (%)                      3000 non-null   float64
 11  Consumer Confidence Index              3000 non-null   int64
 12  Government Debt (Billion USD)          3000 non-null   int64
 13  Corporate Profits (Billion USD)        3000 non-null   int64
 14  Forex USD/EUR                          3000 non-null   float64
 15  Forex USD/JPY                          3000 non-null   float64
 16  Crude Oil Price (USD per Barrel)       3000 non-null   float64
 17  Gold Price (USD per Ounce)             3000 non-null   float64
 18  Real Estate Index                      3000 non-null   float64
 19  Retail Sales (Billion USD)             3000 non-null   int64
 20  Bankruptcy Rate (%)                    3000 non-null   float64
 21  Mergers & Acquisitions Deals           3000 non-null   int64
 22  Venture Capital Funding (Billion USD)  3000 non-null   float64
 23  Consumer Spending (Billion USD)        3000 non-null   int64
dtypes: float64(15), int64(7), object(2)
memory usage: 562.6+ KB

In [17]:
df.isnull().sum()
# seems no missing data (explicit NaN values)

Date                                     0
Stock Index                              0
Open Price                               0
Close Price                              0
Daily High                               0
Daily Low                                0
Trading Volume                           0
GDP Growth (%)                           0
Inflation Rate (%)                       0
Unemployment Rate (%)                    0
Interest Rate (%)                        0
Consumer Confidence Index                0
Government Debt (Billion USD)            0
Corporate Profits (Billion USD)          0
Forex USD/EUR                            0
Forex USD/JPY                            0
Crude Oil Price (USD per Barrel)         0
Gold Price (USD per Ounce)               0
Real Estate Index                        0
Retail Sales (Billion USD)               0
Bankruptcy Rate (%)                      0
Mergers & Acquisitions Deals             0
Venture Capital Funding (Billion USD)    0
Consumer Spending (Billion USD)          0
dtype: int64

##### Comments on dataset
1. Data column is not in date-time type but in object type.